/* core.css */
/* -------- */

/* start minimum css framework */

* { /* reset to avoid spacing issues */ 
	margin: 0;
	padding: 0;
}

body {
	background-color: #3b3b3b;
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #000;
}

a, a:link, a:visited, a:hover, a:active {
	color: #000;
}

img {
	border: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.cf { /* clear floats to avoid scroll issues */
	overflow: auto;
}

.column {
	float: left;
	height: auto;
}

/* end minimum css framework */

/* layout & content */

#application {
	width: 100%;
}

#main {
	width: 990px;
	position: relative;
}

#mainboard {
	position: relative;
	width: 100%;
	height: 741px;
}

#mainboard .logo {
	position: absolute;
	top: 47px;
	left: 0px;
}

#mainboard .menu {
	position: absolute;
	top: 154px;
	left: 0px;
}

#mainboard .menu a {
	color: #e3f300;
	font-size: 17px;
	text-decoration: none;
	background-color: #000;
	padding: 14px 24px 12px 24px;
	display: inline-block;
	margin-right: 6px;
}

#mainboard .menu a:hover {
	background-color: #222;
	color: #e3f300;
}

#mainboard .menu a:active {
	position: relative;
	top: 1px;
}

.button-top {
	position: absolute;
	bottom: 0;
	right: 0;
}

a.button-top {
	color: #e3f300;
	font-size: 13px;
	text-decoration: none;
	background-color: #000;
	padding: 14px 24px 12px 24px;
	display: inline-block;
	margin-right: 50px;
}

a:hover.button-top {
	background-color: #222;
	color: #e3f300;
}

#mainboard .bg-ideas {
	position: absolute;
	top: 501px;
	left: 0px;
}

.ideas {
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #2f3200;
}

.ideas1 {
	font-size: 27px;
	top: 514px;
	left: 34px;
}

.ideas1 strong {
	font-size: 36px;
	padding-right: 1px;
	color: #1f2000;
}

.ideas2 {
	font-size: 19px;
	top: 570px;
	left: 36px;
	line-height: 25px;
}

.ideas3 {
	font-size: 22px;
	top: 636px;
	left: 37px;
	font-weight: bold;
	color: #1f2000;
}

#mainboard .illustration {
	position: absolute;
	top: 19px;
	right: -3px;
}

#mainboard .date {
	position: absolute;
	text-align: center;
}

.date1 {
	width: 125px;
	height: 112px;
	top: 241px;
	left: 12px;
	background-image: url(../images/bg-datehighlight.png);
	color: #000;
}

.date2 {
	width: 85px;
	height: 76px;
	top: 372px;
	left: 30px;
	background-image: url(../images/bg-date.png);
	color: #252525;
}

#mainboard .date span {
	display: block;
}

.date1 span {
	padding-right: 12px;
}

.date2 span {
	padding-right: 10px;
}

#mainboard .date .month {
	font-weight: bold;
	text-transform: uppercase;
}

.date1 .month {
	font-size: 15px;
	padding-top: 13px;
}

.date2 .month {
	font-size: 12px;
	padding-top: 10px;
}

#mainboard .date .day {
	font-weight: bold;
}

.date1 .day {
	font-size: 81px;
	margin-top: -9px;
}

.date2 .day {
	font-size: 45px;
	margin-top: -2px;
}

#mainboard .event {
	position: absolute;
	color: #dfdfdf;
}

.event1 {
	height: 78px;
	top: 251px;
	left: 139px;
	background-image: url(../images/bg-event.png);
	padding-right: 19px;
}

.event2 {
	top: 386px;
	left: 124px;
}

#mainboard .event span {
	display: block;
}

.event1 span {
	padding-left: 10px;
}

.event2 span {
}

.event1 .title {
	font-size: 25px;
	padding-top: 15px;
}

.event2 .title {
	font-size: 22px;
}

#mainboard .event .info {
	font-size: 13px;
	color: #aaa;
}

.event1 .info {
	padding-left: 13px;
}

.event2 .info {
	padding-left: 3px;
}

#mainboard .event .info strong {
	font-weight: normal;
	color: #f7f7f7;
}

#mainboard .event a {
	color: #aaa;
	text-decoration: none;
}

h1 {
	font-size: 30px;
	color: #e3f300;
	font-weight: normal;
	letter-spacing: 1px;
}

h1 .label {
	background-color: #000;
	display: inline-block;
	padding: 19px 44px 19px 37px;
}

#whatis {
	width: 100%;
	background-color: #323232;
	position: relative;
}

#whatis p {
	font-size: 24px;
	line-height: 33px;
	padding: 25px 5px 75px 37px;
	color: #dadada;
	letter-spacing: 1px;
}

#whatis strong {
	font-weight: normal;
	font-size: 26px;
	color: #f7f7f7;
}

#getinvolved {
	width: 100%;
	background-color: #f7f7f7;
	margin-top: 39px;
	position: relative;
	color: #3c3c3c;
}

#getinvolved .group {
	position: absolute;
	top: 109px;
	left: 22px;
}

#getinvolved .who {
	font-size: 20px;
	padding: 33px 5px 0 60px;
	line-height: 26px;
}

#getinvolved .who li {
	list-style-type: none;
}

#getinvolved .arrow-getinvolved {
	position: absolute;
	top: 282px;
	left: 163px;
}

#getinvolved .how {
	font-size: 25px;
	padding: 42px 150px 50px 235px;
	font-family: 'Homemade Apple', cursive;
	font-weight: 400;
	line-height: 34px;
}

#getinvolved .nexthappyhour strong {
	font-weight: 400;
	color: #333;
}

#getinvolved .box {
	width: 425px;
	height: 145px;
}

#getinvolved .box h2 {
	font-size: 22px;
	font-family: 'Homemade Apple', cursive;
	font-weight: 400;
	line-height: 30px;
	padding: 0 0 7px 1px;
	color: #3c3c3c;
}

#getinvolved .box p {
	font-size: 18px;
	font-family: 'Homemade Apple', cursive;
	font-weight: 400;
	line-height: 22px;
	padding-left: 10px;
	color: #4a4a4a;
}

#getinvolved .box a {
	text-decoration: none;
}

#getinvolved .box .underline {
	text-decoration: underline;
}


#getinvolved .box-facebook {
	margin-left: 80px;
}

#getinvolved .icon-facebook {
	padding: 26px 84px 0 10px;
}

#getinvolved .box-twitter {
	margin: 0;
}

#getinvolved .icon-twitter {
	padding: 20px 10px 0 0;
}

#getinvolved .box-google {
	margin-left: 80px;
}

#getinvolved .box-google h2 {
	padding-top: 11px;
}

#getinvolved .icon-google {
	padding: 0px 90px 0 10px;
}

#getinvolved .box-ical {
	margin: 0;
}

#getinvolved .box-ical h2 {
	padding-top: 11px;
	padding-right: 70px;
}

#getinvolved .icon-ical {
	padding: 0 18px 0 0;
}

#contact {
	width: 100%;
	background-color: #e3f300;
	margin-top: 39px;
}

#contact p {
	font-size: 26px;
	line-height: 33px;
	padding: 25px 50px 15px 42px;

}

#contact ul {
	font-size: 22px;
	line-height: 29px;
	padding: 0 60px 55px 72px;
}

#contact li {
	padding: 0 50px 10px 0;
}

#footer {
	width: 990px;
	padding: 40px 0 20px 0;
}

#footer p {
	font-size: 13px;
	text-align: center;
	color: #888;
	padding: 0 150px 20px 150px;
	line-height: 14px;
}

#footer img {
	margin: 5px;
}

#footer a {
	color: #aaa;
}

#footer a:hover {
	color: #ccc;
}