
/* Modified from the original Notify! - A Free jQuery Notification Bar Plugin */
/* http://www.greepit.com/notify/ */

.sticky p { float:left; padding:0px; margin:0px; margin-left:100px; line-height:45px; color:#ccc; font-size:13px;}
.sticky strong { color: #eee;}
.sticky a { color: #eee; text-decoration: none;}
.sticky img { float:right; margin:13px 17px 0px 0px; }

.sticky {
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	width:100%;
	border-bottom:2px solid #aaa !important;
	/* FireFox 3.6 */
	/* Safari4+, Chrome */
	-moz-box-shadow: 1px 1px 7px #676767;
	-webkit-box-shadow: 1px 1px 7px #676767;
	box-shadow: 1px 1px 7px #676767;
	height: 45px;
	background-image: url(../images/bg3.png); /* texture by Atle Mo http://subtlepatterns.com/carbon-fibre-2/ */
}

.hide{display:none;}